
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!--@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(Model => item.ekle)
        </td>
        <td>
            @Html.DisplayFor(Model => item.image)
        </td>
        <td>
            @Html.DisplayFor(Model => item.fiyat)
        </td>-->
@*<td>
        <a href="/Kullanicilars/Edit/@item.ID"><button type="submit" class="btn btn-primary btn-lg" name="buton">Sepete ekle</button></a>
    </td>*@
<!--</tr>
}--> 
